@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat:400,900|Oswald:300,400,700');

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1300px;margin: 0 auto;text-align: center;font-family: 'Oswald', sans-serif; font-size: 20px; color:#fff;}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

*{box-sizing: border-box;}


p{ font-size: 0.85em; font-weight: 300; font-family: 'Abel', sans-serif;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-size: 15px; font-weight: 400; color: #000; display: inline-block; padding: 10px 30px; background: #fff; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 2.75em;color: #fff;}
.titles{font-size: 2.15em; color: #fff; font-weight: 400; letter-spacing: 1px}
.titles-black{color: #111; background: url('../images/common/black-bar.jpg')no-repeat center bottom; padding:0 0 30px; font-size: 2.15em; font-weight: 400; letter-spacing: 1px;}
.btn-blue{border:none; height: 50px; width: 160px; background: linear-gradient(to right, #0B64D2, #0A62D0); color: #fff; font-size: 0.9em; font-family: 'Oswald', sans-serif;}
.btn-blue{}
/*header*/
#header {background: #fff;padding: 30px 0; border-bottom:5px solid #0B64D3;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0; display: flex; justify-content: space-between; flex-wrap: wrap;}
#header nav ul li {}
#header nav ul li a {color:#111;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#0B64D3; transition: all ease 0.5s}

/*banner*/
#banner {background: url('../images/common/banner-bg.png')no-repeat center top / 100% 100% #0B64D2;padding: 20px 0 125px; position: relative; z-index: 3;}
#banner img{padding:30px 0 50px;}
#banner h1{width: 90%; margin:0 auto; line-height: 1.2}

/*content*/
#content1 {background: linear-gradient(to right, #0B64D2, #0A62D0);padding:70px 0 80px; margin-top: -10px}
#content1 .row{display: flex; justify-content: space-between; flex-wrap: wrap;}

#c1-left{text-align: left; width: 49%}
#c1-left h3{font-size: 2.15em; width: 80%; line-height: 1; font-weight: 400; background: url('../images/common/white-bar.jpg')no-repeat top left;padding:40px 0 0 ;}
#c1-left h3 span{font-size: 0.837em}
#c1-left h2{font-size: 3.3em; font-weight: 400; line-height: 1; letter-spacing: 1px;}

#c1-right{width: 49%; padding:20px 0 0;}
#c1-right dl{ display: flex; align-items: center;}
#c1-right dd{text-align: left; width: 80%}
#c1-right dd p{margin:0; }
#c1-right dd b{font-weight: 500; font-size: 0.9em}



#content2{background: url('../images/common/content2-bg.jpg')no-repeat center top / cover;padding:60px 0 20px;}
#content2 .titles{background: url('../images/common/white-bar.jpg')no-repeat center bottom;padding:0 0 30px;}
#content2 p{width: 79%; margin:20px auto;}
#content2 dl{display: flex; justify-content: space-between; margin:40px 0; align-items: center;}
#content2 dl dt img,#content2 dl dd img{border-bottom:5px solid #0B64D3;}
#content2 dl.style1 dd{text-align: left;margin:0 0 0 70px;}
#content2 dl.style2 dt{text-align: right;margin:0 0 0 70px;}
#content2 dl dd h3,#content2 dl dt h3{color: #0B64D3; font-size: 1.75em; font-weight: 400;}
#content2 dl.style1 dd p{margin:20px auto 30px 0; width: 93%}
#content2 dl.style2 dt p{margin:20px 0 30px auto; width: 101%}



#content3{padding:40px 0; background: url('../images/common/content3-bg.jpg')no-repeat top right / 50% 100%, linear-gradient(to right, #0B64D2, #0A62D0); text-align: left;}
#content3 .row{display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center}
#content3 h4{font-size: 1.75em; font-weight: 300;line-height: 1}
#c3-left{width: 50%}
#c3-left p{width: 64%}


#content4{padding:40px 0;}
#c4-img-row{display: flex; justify-content: space-between; flex-wrap: wrap; margin:60px 0 20px;}
#c4-img7{width: 100%; margin:0 0 20px;}


#content5{padding:0 0 40px;}
#content5 dl{width: 31%}
#content5 dl dd{margin:0;}
#content5 dl dd h4{color: #0860CC; font-size: 0.9em; font-weight: 400;}
#content5 dl dd p{color: #111;margin:5px auto;}
#c5-content{display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-start; margin:25px 0 0}

#c5-bottom{background: linear-gradient(to bottom, #0B64D2, #0A62D0); padding:10px 0; position: relative;}
#c5-bottom .row{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
#c5-bottom dl{display: flex; align-items: center; width: 15%}
#c5-bottom dd{padding:0 0 0 10px; margin:0;}
#c5-bottom dl dd p{color: #fff; text-align: left;}
#c5-bottom dl#phone dd p{font-size: 1.25em}

#c5-logo{padding:0 30px 0 0;}
/*footer*/
#footer {background: #fff;padding: 10px 0; color: #111;  font-family: 'Abel', sans-serif;}

#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
 .copy, .silver{margin:0;}

/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0; background: #0B64D2}
.inner #content .reviews{margin: 30px auto;padding:20px 40px;border-radius: 10px; border: 3px solid #180097;transition: all 0.5s ease; box-shadow: 0 0 40px -5px}
.inner #content .reviews:hover{border: 3px solid #00b7ff;}
.inner #content .reviews h3 span{color: #ff9400; font-size: 30px}
.inner #content .about-us-content{text-align: left;}
.inner #harwood-flooring-services{border-radius: 15px; border: 3px solid #fff; padding: 20px;}
.inner #harwood-flooring-services h2{border-bottom: 3px solid #fff;}
.inner #harwood-flooring-services .left, .inner #harwood-flooring-services .right{display: inline-block;vertical-align: middle; width: 49%;line-height: 25px}
.inner #harwood-flooring-services .left img{max-width: 590px; width: 95%;}
.inner #lvt-flooring{border-radius: 15px; border: 3px solid #fff; padding: 20px; margin-top: 50px;}
.inner #lvt-flooring h2{border-bottom: 3px solid #fff;}
.inner #lvt-flooring .left, .inner #lvt-flooring .right{display: inline-block;vertical-align: middle; width: 49%;line-height: 25px}
.inner #lvt-flooring .right img{max-width: 590px; width: 95%;}
.inner #installation-flooring{border-radius: 15px; border: 3px solid #fff; padding: 20px; margin-top: 50px;}
.inner #installation-flooring h2{border-bottom: 3px solid #fff;}
.inner #installation-flooring .left, .inner #installation-flooring .right{display: inline-block;vertical-align: middle; width: 49%;line-height: 25px}
.inner #installation-flooring .left img{max-width: 590px; width: 95%;}

.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
